<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
        <div class="logo-nav">
          <a href="/">
									<img src="./assets/images/logo.png" alt="Company logo" />
								</a>
        </div>
        <div class="clear-toggle"></div>
        <div id="main-menu" class="collapse scroll navbar-right">
          <ul class="nav">
            <li class="active"> <a href="#home">Inicio</a> </li>
            <li> <a href="#services">Servicios</a> </li>
            <li> <a href="#works">Stands</a> </li>
            <li> <a href="#features">Nosotros</a> </li>
            <li> <a href="#contact">Contactenos</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>