<footer>
  <div class="container wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline footer-social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <p>Copyright &copy; 2017 All reserved</p>
      </div>
    </div>
  </div>
</footer>