<footer>
  <div class="container wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline footer-social">
          <li><a href="https://www.facebook.com/StandsPrestigedesign" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/prestigedesignweb" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="javascript:void(0);" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <p>Todos los derechos reservados &copy; Prestige Design {{year}}</p>
      </div>
    </div>
  </div>
</footer>