<!--Start Navigation-->
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
        <div class="logo-nav">
          <a href="/">
									<img src="./assets/images/logo.png" alt="Company logo" />
								</a>
        </div>
        <div class="clear-toggle"></div>
        <div id="main-menu" class="collapse scroll navbar-right">
          <ul class="nav">
            <li> <a href="/inicio">Inicio</a> </li>
            <li> <a href="/">Servicios</a> </li>
            <li class="active"> <a href="#">Stands</a> </li>
            <li> <a href="/">Nosotros</a> </li>
            <li> <a href="/">Contactenos</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!--End Navigation-->

<div class="margin"></div>
<section id="works" class="section">
  <div class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
    <div class="col-md-offset-2 col-md-8">
      <div class="section-header">
        <h2 class="smt"><span>Stand</span></h2>
      </div>
    </div>
  </div>
  <div class="full-width wow fadeInUp" data-wow-duration="700ms" data-wow-delay="700ms">
    <!-- Work Grid -->
    <ul class="work-grid">
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix Web-design">
        <a href="./assets/images/designs/1B.jpg" class="popup-image">
                <img src="./assets/images/designs/1B.jpg" alt="thumbnail">
              </a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/2B.jpg" class="popup-image">
								<img src="./assets/images/designs/2B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix illustration">
        <a href="./assets/images/designs/3B.jpg" class="popup-image">
								<img src="./assets/images/designs/3B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix branding">
        <a href="./assets/images/designs/4B.jpg" class="popup-image">
								<img src="./assets/images/designs/4B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix Web-design">
        <a href="./assets/images/designs/5B.jpg" class="popup-image">
								<img src="./assets/images/designs/5B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/6B.jpg" class="popup-image">
								<img src="./assets/images/designs/6B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix illustration">
        <a href="./assets/images/designs/7B.jpg" class="popup-image">
								<img src="./assets/images/designs/7B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix branding">
        <a href="./assets/images/designs/8B.jpg" class="popup-image">
								<img src="./assets/images/designs/8B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/9B.jpg" class="popup-image">
								<img src="./assets/images/designs/9B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/10B.jpg" class="popup-image">
								<img src="./assets/images/designs/10B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/11B.jpg" class="popup-image">
								<img src="./assets/images/designs/11B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/12B.jpg" class="popup-image">
								<img src="./assets/images/designs/12B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/13B.jpg" class="popup-image">
								<img src="./assets/images/designs/13B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/14B.jpg" class="popup-image">
								<img src="./assets/images/designs/14B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/15B.jpg" class="popup-image">
								<img src="./assets/images/designs/15B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/16B.jpg" class="popup-image">
								<img src="./assets/images/designs/16B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/17B.jpg" class="popup-image">
								<img src="./assets/images/designs/17B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/18B.jpg" class="popup-image">
								<img src="./assets/images/designs/18B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/19B.jpg" class="popup-image">
								<img src="./assets/images/designs/19B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/20B.jpg" class="popup-image">
								<img src="./assets/images/designs/20B.jpg" alt="thumbnail"></a>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/designs/21B.jpg" class="popup-image">
								<img src="./assets/images/designs/21B.jpg" alt="thumbnail"></a>
      </li>
    </ul>
  </div>
</section>