<!--Start Slider -->
<section id="home">
  <div class="slider-overlay"></div>
  <div class="homeslider flexslider">
    <ul class="slides">
      <li class="slide1 bg"></li>
      <li class="slide2 bg"></li>
      <li class="slide3 bg"></li>
    </ul>
  </div>
  <div class="tb">
    <div class="tb-cell">
      <div class="slide-text">
        <ul id="text-slider">
          <li>
            <h1>Fabricamos tus ideas y le damos forma a tus sueños</h1>
          </li>
          <li>
            <h1>Compromiso con nuestros clientes</h1>
          </li>
        </ul>
        <div class="page-scroll scroll">
          <a class="btn btn-lg btn-primary btn-color-white" href="#services">Servicios</a>
          <a class="btn btn-lg btn-primary btn-color-white" href="#works">Stands</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Slider-->

<!--Start Navigation-->
<app-header></app-header>
<!--End Navigation-->

<div class="margin"></div>
<!--Start Services-->
<section id="services" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="section-header">
          <h2 class="smt"><span>Servicios</span></h2>
        </div>
      </div>
      <div class="col-md-6 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
        <div class="services-box">
          <div class="services-icon"> <i class="fa fa-codepen"></i> </div>
          <div class="services-desc">
            <h4>ARQUITECTURA EFÍMERA</h4>
            <p>Diseñamos e instalamos las mejores propuestas de innovación, proyectando la imagen de tu empresa con altos estándares
              de calidad.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 wow zoomIn" data-wow-duration="700ms" data-wow-delay="400ms">
        <div class="services-box">
          <div class="services-icon"> <i class="fa fa-edit"></i> </div>
          <div class="services-desc">
            <h4>ALQUILER</h4>
            <p>Brindamos el servicio de alquiler de material utilitario para eventos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Services-->

<!--Start portfolio-->
<section id="works" class="section">
  <div class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
    <div class="col-md-offset-2 col-md-8">
      <div class="section-header">
        <h2 class="smt"><span>Stand</span></h2>
      </div>
    </div>
  </div>
  <div class="full-width wow fadeInUp" data-wow-duration="700ms" data-wow-delay="700ms">
    <!-- Work Grid -->
    <ul class="work-grid">
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix Web-design">
        <a href="./assets/images/works/img1.jpg" class="popup-image">
								<img src="./assets/images/works/img1.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Web Design</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>

      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/works/img2.jpg" class="popup-image">
								<img src="./assets/images/works/img2.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Web Design</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>

      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix illustration">
        <a href="./assets/images/works/img3.jpg" class="popup-image">
								<img src="./assets/images/works/img3.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Illustrations</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>

      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix branding">
        <a href="./assets/images/works/img4.jpg" class="popup-image">
								<img src="./assets/images/works/img4.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Branding</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix Web-design">
        <a href="./assets/images/works/img5.jpg" class="popup-image">
								<img src="./assets/images/works/img5.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Web Design</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/works/img6.jpg" class="popup-image">
								<img src="./assets/images/works/img6.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Web Design</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix illustration">
        <a href="./assets/images/works/img7.jpg" class="popup-image">
								<img src="./assets/images/works/img7.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Illustrations</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix branding">
        <a href="./assets/images/works/img8.jpg" class="popup-image">
								<img src="./assets/images/works/img8.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Branding</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>
      </li>
      <!-- Work Block -->
      <li class="work-item thumbnail-img mix graphic">
        <a href="./assets/images/works/img9.jpg" class="popup-image">
								<img src="./assets/images/works/img9.jpg" alt="thumbnail"></a>
        <div class="work-info">
          <div class="work-info-detail display-table">
            <div class="display-table-cell">
              <h4>Project Title</h4>
              <p>Web Design</p>
              <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="work-all wow fadeInUp" data-wow-duration="700ms" data-wow-delay="800ms"> <a href="#" class="btn btn-primary btn-lg">View All Portfolio</a> </div>
</section>
<!--End portfolio-->

<!--  Start Features-->
<section id="features" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="section-header">
          <h2 class="smt"><span>Nosotros</span></h2>
        </div>
      </div>
      <div class="col-md-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
        <div class="features-intro">
          <h3>Fabricamos tus ideas y le damos forma a tus sueños!</h3>
          <p>Compromiso y profesinoalismo en todos los sentidos!</p>
        </div>
      </div>
      <div class="features-main">
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
          <div class="features-left">
            <div class="features-item">
              <div class="features-icon"> <i class="fa fa-pagelines"></i> </div>
              <div class="features-info">
                <h4>¿Quiénes Somos?</h4>
                <p>Somos una empresa en crecimiento la cual dentro del equipo de trabajo reúne más de 4 años de experiencia
                  en el diseño, producción y montaje de espacios efímeros y comerciales, queremos que nos den la oportunidad
                  de crecer a su lado brindándoles diseños impactantes para representar su imagen corporativa.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 hidden-xs  wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
          <img src="./assets/images/device.png" alt="Features Image" />
        </div>
        <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
          <div class="features-right">
            <!--Features Item #1-->
            <div class="features-item">
              <div class="features-icon"> <i class="fa fa-cog"></i> </div>
              <div class="features-info">
                <h4>MISIÓN</h4>
                <p>Nuestra misión es hacer Diseños innovadores, impactantes y funcionales, cumpliendo con Altos estándares de
                  calidad y expectativas de nuestros clientes.</p>
              </div>
            </div>
            <!--Features Item #2-->
            <div class="features-item">
              <div class="features-icon"> <i class="fa fa-home"></i> </div>
              <div class="features-info">
                <h4>VISIÓN</h4>
                <p>Nuestro meta es llegar a ser en el 2020 una empresa de impacto Global en diseño efímero y comercial, que
                  solucione y satisfaga las necesidades de nuestros clientes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End Features-->

<!--Start Contact-->
<section id="contact" class="section parallax section-white">
  <div class="overlayc"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8  wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="section-header">
          <h2 class="smt"><span>Contáctenos</span></h2>
        </div>
      </div>
      <div class="col-md-7 contact-form wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
        <div class="contact-form">
          <form method="post" action="" onsubmit="javascript:void(0);">
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" name="name" id="name" placeholder="Nombre" type="text">
              </div>
              <div class="col-md-6">
                <input class="form-control" name="email" placeholder="Email" type="email">
              </div>
              <div class="col-md-12">
                <input class="form-control" name="subject" placeholder="Asunto" type="text">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="5" placeholder="Déjanos tu mensaje"></textarea>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" name="submit" class="btn btn-default btn-lg">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4 contact-address wow zoomIn" data-wow-duration="700ms" data-wow-delay="400ms">
        <p> <i class="fa fa-map-marker"></i> <span>Cra 98 # 2 -44</span></p>
        <p> <i class="fa fa-envelope"></i> <span>info@prestigedesignweb.com</span></p>
        <p> <i class="fa fa-phone"></i> <span>(000) 000 0000 </span></p>
      </div>
    </div>
  </div>
</section>
<!--End Contact-->